/* ==========================================================================
   Botoes
   ========================================================================== */

.btn{
    padding: 8px 20px;
    background-color: #E7E7E7;
    font-size: 16px;
    color: #999;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .6s;
}

.btn-sm{
    padding: 5px 10px;
    font-size: 14px;
    text-transform: lowercase;
    border-radius: 7px;
}

.btn--close{
    padding: 0;
    width: 34px;
    height: 34px;
    background-color: #CF5D64;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
}

.btn--user{
    background-color: #5DA4CF;
    color: #fff;
    border: 3px solid transparent;
    &:hover,
    &:focus{
        background-color: darken(#5DA4CF, 10%);
        outline: none;
    }
    &.active{
        border: 3px solid darken(#5DA4CF, 20%);
    }
}

.btn--success{
    background-color: #A2CF5D;
    color: #fff;
    &:hover,
    &:focus{
        background-color: darken(#A2CF5D, 15%);
    }
}

.btn--begin{
    background-color: #9A5DCF;
    color: #fff;
    &:hover,
    &:focus{
        background-color: darken(#9A5DCF, 10%);
        outline: none;
    }
}