/* ==========================================================================
   Cards
   ========================================================================== */

.card{
    position: relative;
    width: 130px;
    height: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #5DA4CF;
    background-color: #5DA4CF;
    font-size: 48px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 3px 0 rgba(0,0,0, 0.4);
    transition: 1s;
    transform: rotateY(180deg);
    &.card-open{
        background-color: #DCE5FD;
        box-shadow: none;
        transform: rotateY(0);
    }
    &.success{
        background-color: #E1FDDC;
        color: #A2CF5D;
        box-shadow: none;
        transform: rotateY(0);
    }
    &.fail{
        background-color: #FDDCDC;
        color: #CF5D64;
        box-shadow: none;
        transform: rotateY(0);
    }
    &:hover,
    &:focus,
    &:focus:hover{ outline: none; }
}
