/* ==========================================================================
   Ranking
   ========================================================================== */

.memory-ranking{
    // display: none;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    background-color: #fff;

    h2{
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        font-size: 36px;
        color: #666;
    }
}