/* ==========================================================================
   Geral
   ========================================================================== */


body {
  font-family: 'Roboto', cursive;
  color: #666666;
  background-color: #F3F3F3
}

.container{
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.memory-header{
  height: 60px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  .timer,
  .movements{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #c1c1c1;
    span{ 
      vertical-align: middle;
      margin-right: 5px;
      font-size: 30px;
      font-weight: 500;
      text-transform: none;
      color: #666;
    }
  }
}

.memory-body{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  text-align: center;
  @media (min-width: 1440px){
    top: calc(50% - 90px);
    transform: translateY(-50%);
  }
  &.stage1{ max-width: 480px; }
  &.stage2{ max-width: 720px; }
  &.stage3{ max-width: 960px; }
}
