/* ==========================================================================
   Geral
   ========================================================================== */


body {
  font-family: 'robotoregular', sans-serif;
  color: #666666;
  background-color: #F3F3F3
}

.memory-body{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
