/*!
 * Memory Game
 * Desenvolvido por Andrey da Costa
 */
/* Bootstrap */
/* Override Bootstrap default variable */
@import url(../css/bootstrap.css);
@font-face {
  font-family: 'Icons';
  src: url("../fonts/open-iconic.eot");
  src: url("../fonts/open-iconic.eot?#iconic-sm") format("embedded-opentype"), url("../fonts/open-iconic.woff") format("woff"), url("../fonts/open-iconic.ttf") format("truetype"), url("../fonts/open-iconic.svg#iconic-sm") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, src/sassLibs/open-iconic-bootstrap.scss */
.oi {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, src/sassLibs/open-iconic-bootstrap.scss */
.oi:empty:before {
  width: 1em;
  text-align: center;
  box-sizing: content-box;
}

/* line 33, src/sassLibs/open-iconic-bootstrap.scss */
.oi.oi-align-center:before {
  text-align: center;
}

/* line 37, src/sassLibs/open-iconic-bootstrap.scss */
.oi.oi-align-left:before {
  text-align: left;
}

/* line 41, src/sassLibs/open-iconic-bootstrap.scss */
.oi.oi-align-right:before {
  text-align: right;
}

/* line 46, src/sassLibs/open-iconic-bootstrap.scss */
.oi.oi-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 52, src/sassLibs/open-iconic-bootstrap.scss */
.oi.oi-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(-1, 1);
  transform: scale(1, -1);
}

/* line 58, src/sassLibs/open-iconic-bootstrap.scss */
.oi.oi-flip-horizontal-vertical:before {
  -webkit-transform: scale(-1, -1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, -1);
}

/* line 67, src/sassLibs/open-iconic-bootstrap.scss */
.oi-account-login:before {
  content: '\e000';
}

/* line 71, src/sassLibs/open-iconic-bootstrap.scss */
.oi-account-logout:before {
  content: '\e001';
}

/* line 75, src/sassLibs/open-iconic-bootstrap.scss */
.oi-action-redo:before {
  content: '\e002';
}

/* line 79, src/sassLibs/open-iconic-bootstrap.scss */
.oi-action-undo:before {
  content: '\e003';
}

/* line 83, src/sassLibs/open-iconic-bootstrap.scss */
.oi-align-center:before {
  content: '\e004';
}

/* line 87, src/sassLibs/open-iconic-bootstrap.scss */
.oi-align-left:before {
  content: '\e005';
}

/* line 91, src/sassLibs/open-iconic-bootstrap.scss */
.oi-align-right:before {
  content: '\e006';
}

/* line 95, src/sassLibs/open-iconic-bootstrap.scss */
.oi-aperture:before {
  content: '\e007';
}

/* line 99, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-bottom:before {
  content: '\e008';
}

/* line 103, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-circle-bottom:before {
  content: '\e009';
}

/* line 107, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-circle-left:before {
  content: '\e00a';
}

/* line 111, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-circle-right:before {
  content: '\e00b';
}

/* line 115, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-circle-top:before {
  content: '\e00c';
}

/* line 119, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-left:before {
  content: '\e00d';
}

/* line 123, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-right:before {
  content: '\e00e';
}

/* line 127, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-thick-bottom:before {
  content: '\e00f';
}

/* line 131, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-thick-left:before {
  content: '\e010';
}

/* line 135, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-thick-right:before {
  content: '\e011';
}

/* line 139, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-thick-top:before {
  content: '\e012';
}

/* line 143, src/sassLibs/open-iconic-bootstrap.scss */
.oi-arrow-top:before {
  content: '\e013';
}

/* line 147, src/sassLibs/open-iconic-bootstrap.scss */
.oi-audio-spectrum:before {
  content: '\e014';
}

/* line 151, src/sassLibs/open-iconic-bootstrap.scss */
.oi-audio:before {
  content: '\e015';
}

/* line 155, src/sassLibs/open-iconic-bootstrap.scss */
.oi-badge:before {
  content: '\e016';
}

/* line 159, src/sassLibs/open-iconic-bootstrap.scss */
.oi-ban:before {
  content: '\e017';
}

/* line 163, src/sassLibs/open-iconic-bootstrap.scss */
.oi-bar-chart:before {
  content: '\e018';
}

/* line 167, src/sassLibs/open-iconic-bootstrap.scss */
.oi-basket:before {
  content: '\e019';
}

/* line 171, src/sassLibs/open-iconic-bootstrap.scss */
.oi-battery-empty:before {
  content: '\e01a';
}

/* line 175, src/sassLibs/open-iconic-bootstrap.scss */
.oi-battery-full:before {
  content: '\e01b';
}

/* line 179, src/sassLibs/open-iconic-bootstrap.scss */
.oi-beaker:before {
  content: '\e01c';
}

/* line 183, src/sassLibs/open-iconic-bootstrap.scss */
.oi-bell:before {
  content: '\e01d';
}

/* line 187, src/sassLibs/open-iconic-bootstrap.scss */
.oi-bluetooth:before {
  content: '\e01e';
}

/* line 191, src/sassLibs/open-iconic-bootstrap.scss */
.oi-bold:before {
  content: '\e01f';
}

/* line 195, src/sassLibs/open-iconic-bootstrap.scss */
.oi-bolt:before {
  content: '\e020';
}

/* line 199, src/sassLibs/open-iconic-bootstrap.scss */
.oi-book:before {
  content: '\e021';
}

/* line 203, src/sassLibs/open-iconic-bootstrap.scss */
.oi-bookmark:before {
  content: '\e022';
}

/* line 207, src/sassLibs/open-iconic-bootstrap.scss */
.oi-box:before {
  content: '\e023';
}

/* line 211, src/sassLibs/open-iconic-bootstrap.scss */
.oi-briefcase:before {
  content: '\e024';
}

/* line 215, src/sassLibs/open-iconic-bootstrap.scss */
.oi-british-pound:before {
  content: '\e025';
}

/* line 219, src/sassLibs/open-iconic-bootstrap.scss */
.oi-browser:before {
  content: '\e026';
}

/* line 223, src/sassLibs/open-iconic-bootstrap.scss */
.oi-brush:before {
  content: '\e027';
}

/* line 227, src/sassLibs/open-iconic-bootstrap.scss */
.oi-bug:before {
  content: '\e028';
}

/* line 231, src/sassLibs/open-iconic-bootstrap.scss */
.oi-bullhorn:before {
  content: '\e029';
}

/* line 235, src/sassLibs/open-iconic-bootstrap.scss */
.oi-calculator:before {
  content: '\e02a';
}

/* line 239, src/sassLibs/open-iconic-bootstrap.scss */
.oi-calendar:before {
  content: '\e02b';
}

/* line 243, src/sassLibs/open-iconic-bootstrap.scss */
.oi-camera-slr:before {
  content: '\e02c';
}

/* line 247, src/sassLibs/open-iconic-bootstrap.scss */
.oi-caret-bottom:before {
  content: '\e02d';
}

/* line 251, src/sassLibs/open-iconic-bootstrap.scss */
.oi-caret-left:before {
  content: '\e02e';
}

/* line 255, src/sassLibs/open-iconic-bootstrap.scss */
.oi-caret-right:before {
  content: '\e02f';
}

/* line 259, src/sassLibs/open-iconic-bootstrap.scss */
.oi-caret-top:before {
  content: '\e030';
}

/* line 263, src/sassLibs/open-iconic-bootstrap.scss */
.oi-cart:before {
  content: '\e031';
}

/* line 267, src/sassLibs/open-iconic-bootstrap.scss */
.oi-chat:before {
  content: '\e032';
}

/* line 271, src/sassLibs/open-iconic-bootstrap.scss */
.oi-check:before {
  content: '\e033';
}

/* line 275, src/sassLibs/open-iconic-bootstrap.scss */
.oi-chevron-bottom:before {
  content: '\e034';
}

/* line 279, src/sassLibs/open-iconic-bootstrap.scss */
.oi-chevron-left:before {
  content: '\e035';
}

/* line 283, src/sassLibs/open-iconic-bootstrap.scss */
.oi-chevron-right:before {
  content: '\e036';
}

/* line 287, src/sassLibs/open-iconic-bootstrap.scss */
.oi-chevron-top:before {
  content: '\e037';
}

/* line 291, src/sassLibs/open-iconic-bootstrap.scss */
.oi-circle-check:before {
  content: '\e038';
}

/* line 295, src/sassLibs/open-iconic-bootstrap.scss */
.oi-circle-x:before {
  content: '\e039';
}

/* line 299, src/sassLibs/open-iconic-bootstrap.scss */
.oi-clipboard:before {
  content: '\e03a';
}

/* line 303, src/sassLibs/open-iconic-bootstrap.scss */
.oi-clock:before {
  content: '\e03b';
}

/* line 307, src/sassLibs/open-iconic-bootstrap.scss */
.oi-cloud-download:before {
  content: '\e03c';
}

/* line 311, src/sassLibs/open-iconic-bootstrap.scss */
.oi-cloud-upload:before {
  content: '\e03d';
}

/* line 315, src/sassLibs/open-iconic-bootstrap.scss */
.oi-cloud:before {
  content: '\e03e';
}

/* line 319, src/sassLibs/open-iconic-bootstrap.scss */
.oi-cloudy:before {
  content: '\e03f';
}

/* line 323, src/sassLibs/open-iconic-bootstrap.scss */
.oi-code:before {
  content: '\e040';
}

/* line 327, src/sassLibs/open-iconic-bootstrap.scss */
.oi-cog:before {
  content: '\e041';
}

/* line 331, src/sassLibs/open-iconic-bootstrap.scss */
.oi-collapse-down:before {
  content: '\e042';
}

/* line 335, src/sassLibs/open-iconic-bootstrap.scss */
.oi-collapse-left:before {
  content: '\e043';
}

/* line 339, src/sassLibs/open-iconic-bootstrap.scss */
.oi-collapse-right:before {
  content: '\e044';
}

/* line 343, src/sassLibs/open-iconic-bootstrap.scss */
.oi-collapse-up:before {
  content: '\e045';
}

/* line 347, src/sassLibs/open-iconic-bootstrap.scss */
.oi-command:before {
  content: '\e046';
}

/* line 351, src/sassLibs/open-iconic-bootstrap.scss */
.oi-comment-square:before {
  content: '\e047';
}

/* line 355, src/sassLibs/open-iconic-bootstrap.scss */
.oi-compass:before {
  content: '\e048';
}

/* line 359, src/sassLibs/open-iconic-bootstrap.scss */
.oi-contrast:before {
  content: '\e049';
}

/* line 363, src/sassLibs/open-iconic-bootstrap.scss */
.oi-copywriting:before {
  content: '\e04a';
}

/* line 367, src/sassLibs/open-iconic-bootstrap.scss */
.oi-credit-card:before {
  content: '\e04b';
}

/* line 371, src/sassLibs/open-iconic-bootstrap.scss */
.oi-crop:before {
  content: '\e04c';
}

/* line 375, src/sassLibs/open-iconic-bootstrap.scss */
.oi-dashboard:before {
  content: '\e04d';
}

/* line 379, src/sassLibs/open-iconic-bootstrap.scss */
.oi-data-transfer-download:before {
  content: '\e04e';
}

/* line 383, src/sassLibs/open-iconic-bootstrap.scss */
.oi-data-transfer-upload:before {
  content: '\e04f';
}

/* line 387, src/sassLibs/open-iconic-bootstrap.scss */
.oi-delete:before {
  content: '\e050';
}

/* line 391, src/sassLibs/open-iconic-bootstrap.scss */
.oi-dial:before {
  content: '\e051';
}

/* line 395, src/sassLibs/open-iconic-bootstrap.scss */
.oi-document:before {
  content: '\e052';
}

/* line 399, src/sassLibs/open-iconic-bootstrap.scss */
.oi-dollar:before {
  content: '\e053';
}

/* line 403, src/sassLibs/open-iconic-bootstrap.scss */
.oi-double-quote-sans-left:before {
  content: '\e054';
}

/* line 407, src/sassLibs/open-iconic-bootstrap.scss */
.oi-double-quote-sans-right:before {
  content: '\e055';
}

/* line 411, src/sassLibs/open-iconic-bootstrap.scss */
.oi-double-quote-serif-left:before {
  content: '\e056';
}

/* line 415, src/sassLibs/open-iconic-bootstrap.scss */
.oi-double-quote-serif-right:before {
  content: '\e057';
}

/* line 419, src/sassLibs/open-iconic-bootstrap.scss */
.oi-droplet:before {
  content: '\e058';
}

/* line 423, src/sassLibs/open-iconic-bootstrap.scss */
.oi-eject:before {
  content: '\e059';
}

/* line 427, src/sassLibs/open-iconic-bootstrap.scss */
.oi-elevator:before {
  content: '\e05a';
}

/* line 431, src/sassLibs/open-iconic-bootstrap.scss */
.oi-ellipses:before {
  content: '\e05b';
}

/* line 435, src/sassLibs/open-iconic-bootstrap.scss */
.oi-envelope-closed:before {
  content: '\e05c';
}

/* line 439, src/sassLibs/open-iconic-bootstrap.scss */
.oi-envelope-open:before {
  content: '\e05d';
}

/* line 443, src/sassLibs/open-iconic-bootstrap.scss */
.oi-euro:before {
  content: '\e05e';
}

/* line 447, src/sassLibs/open-iconic-bootstrap.scss */
.oi-excerpt:before {
  content: '\e05f';
}

/* line 451, src/sassLibs/open-iconic-bootstrap.scss */
.oi-expand-down:before {
  content: '\e060';
}

/* line 455, src/sassLibs/open-iconic-bootstrap.scss */
.oi-expand-left:before {
  content: '\e061';
}

/* line 459, src/sassLibs/open-iconic-bootstrap.scss */
.oi-expand-right:before {
  content: '\e062';
}

/* line 463, src/sassLibs/open-iconic-bootstrap.scss */
.oi-expand-up:before {
  content: '\e063';
}

/* line 467, src/sassLibs/open-iconic-bootstrap.scss */
.oi-external-link:before {
  content: '\e064';
}

/* line 471, src/sassLibs/open-iconic-bootstrap.scss */
.oi-eye:before {
  content: '\e065';
}

/* line 475, src/sassLibs/open-iconic-bootstrap.scss */
.oi-eyedropper:before {
  content: '\e066';
}

/* line 479, src/sassLibs/open-iconic-bootstrap.scss */
.oi-file:before {
  content: '\e067';
}

/* line 483, src/sassLibs/open-iconic-bootstrap.scss */
.oi-fire:before {
  content: '\e068';
}

/* line 487, src/sassLibs/open-iconic-bootstrap.scss */
.oi-flag:before {
  content: '\e069';
}

/* line 491, src/sassLibs/open-iconic-bootstrap.scss */
.oi-flash:before {
  content: '\e06a';
}

/* line 495, src/sassLibs/open-iconic-bootstrap.scss */
.oi-folder:before {
  content: '\e06b';
}

/* line 499, src/sassLibs/open-iconic-bootstrap.scss */
.oi-fork:before {
  content: '\e06c';
}

/* line 503, src/sassLibs/open-iconic-bootstrap.scss */
.oi-fullscreen-enter:before {
  content: '\e06d';
}

/* line 507, src/sassLibs/open-iconic-bootstrap.scss */
.oi-fullscreen-exit:before {
  content: '\e06e';
}

/* line 511, src/sassLibs/open-iconic-bootstrap.scss */
.oi-globe:before {
  content: '\e06f';
}

/* line 515, src/sassLibs/open-iconic-bootstrap.scss */
.oi-graph:before {
  content: '\e070';
}

/* line 519, src/sassLibs/open-iconic-bootstrap.scss */
.oi-grid-four-up:before {
  content: '\e071';
}

/* line 523, src/sassLibs/open-iconic-bootstrap.scss */
.oi-grid-three-up:before {
  content: '\e072';
}

/* line 527, src/sassLibs/open-iconic-bootstrap.scss */
.oi-grid-two-up:before {
  content: '\e073';
}

/* line 531, src/sassLibs/open-iconic-bootstrap.scss */
.oi-hard-drive:before {
  content: '\e074';
}

/* line 535, src/sassLibs/open-iconic-bootstrap.scss */
.oi-header:before {
  content: '\e075';
}

/* line 539, src/sassLibs/open-iconic-bootstrap.scss */
.oi-headphones:before {
  content: '\e076';
}

/* line 543, src/sassLibs/open-iconic-bootstrap.scss */
.oi-heart:before {
  content: '\e077';
}

/* line 547, src/sassLibs/open-iconic-bootstrap.scss */
.oi-home:before {
  content: '\e078';
}

/* line 551, src/sassLibs/open-iconic-bootstrap.scss */
.oi-image:before {
  content: '\e079';
}

/* line 555, src/sassLibs/open-iconic-bootstrap.scss */
.oi-inbox:before {
  content: '\e07a';
}

/* line 559, src/sassLibs/open-iconic-bootstrap.scss */
.oi-infinity:before {
  content: '\e07b';
}

/* line 563, src/sassLibs/open-iconic-bootstrap.scss */
.oi-info:before {
  content: '\e07c';
}

/* line 567, src/sassLibs/open-iconic-bootstrap.scss */
.oi-italic:before {
  content: '\e07d';
}

/* line 571, src/sassLibs/open-iconic-bootstrap.scss */
.oi-justify-center:before {
  content: '\e07e';
}

/* line 575, src/sassLibs/open-iconic-bootstrap.scss */
.oi-justify-left:before {
  content: '\e07f';
}

/* line 579, src/sassLibs/open-iconic-bootstrap.scss */
.oi-justify-right:before {
  content: '\e080';
}

/* line 583, src/sassLibs/open-iconic-bootstrap.scss */
.oi-key:before {
  content: '\e081';
}

/* line 587, src/sassLibs/open-iconic-bootstrap.scss */
.oi-laptop:before {
  content: '\e082';
}

/* line 591, src/sassLibs/open-iconic-bootstrap.scss */
.oi-layers:before {
  content: '\e083';
}

/* line 595, src/sassLibs/open-iconic-bootstrap.scss */
.oi-lightbulb:before {
  content: '\e084';
}

/* line 599, src/sassLibs/open-iconic-bootstrap.scss */
.oi-link-broken:before {
  content: '\e085';
}

/* line 603, src/sassLibs/open-iconic-bootstrap.scss */
.oi-link-intact:before {
  content: '\e086';
}

/* line 607, src/sassLibs/open-iconic-bootstrap.scss */
.oi-list-rich:before {
  content: '\e087';
}

/* line 611, src/sassLibs/open-iconic-bootstrap.scss */
.oi-list:before {
  content: '\e088';
}

/* line 615, src/sassLibs/open-iconic-bootstrap.scss */
.oi-location:before {
  content: '\e089';
}

/* line 619, src/sassLibs/open-iconic-bootstrap.scss */
.oi-lock-locked:before {
  content: '\e08a';
}

/* line 623, src/sassLibs/open-iconic-bootstrap.scss */
.oi-lock-unlocked:before {
  content: '\e08b';
}

/* line 627, src/sassLibs/open-iconic-bootstrap.scss */
.oi-loop-circular:before {
  content: '\e08c';
}

/* line 631, src/sassLibs/open-iconic-bootstrap.scss */
.oi-loop-square:before {
  content: '\e08d';
}

/* line 635, src/sassLibs/open-iconic-bootstrap.scss */
.oi-loop:before {
  content: '\e08e';
}

/* line 639, src/sassLibs/open-iconic-bootstrap.scss */
.oi-magnifying-glass:before {
  content: '\e08f';
}

/* line 643, src/sassLibs/open-iconic-bootstrap.scss */
.oi-map-marker:before {
  content: '\e090';
}

/* line 647, src/sassLibs/open-iconic-bootstrap.scss */
.oi-map:before {
  content: '\e091';
}

/* line 651, src/sassLibs/open-iconic-bootstrap.scss */
.oi-media-pause:before {
  content: '\e092';
}

/* line 655, src/sassLibs/open-iconic-bootstrap.scss */
.oi-media-play:before {
  content: '\e093';
}

/* line 659, src/sassLibs/open-iconic-bootstrap.scss */
.oi-media-record:before {
  content: '\e094';
}

/* line 663, src/sassLibs/open-iconic-bootstrap.scss */
.oi-media-skip-backward:before {
  content: '\e095';
}

/* line 667, src/sassLibs/open-iconic-bootstrap.scss */
.oi-media-skip-forward:before {
  content: '\e096';
}

/* line 671, src/sassLibs/open-iconic-bootstrap.scss */
.oi-media-step-backward:before {
  content: '\e097';
}

/* line 675, src/sassLibs/open-iconic-bootstrap.scss */
.oi-media-step-forward:before {
  content: '\e098';
}

/* line 679, src/sassLibs/open-iconic-bootstrap.scss */
.oi-media-stop:before {
  content: '\e099';
}

/* line 683, src/sassLibs/open-iconic-bootstrap.scss */
.oi-medical-cross:before {
  content: '\e09a';
}

/* line 687, src/sassLibs/open-iconic-bootstrap.scss */
.oi-menu:before {
  content: '\e09b';
}

/* line 691, src/sassLibs/open-iconic-bootstrap.scss */
.oi-microphone:before {
  content: '\e09c';
}

/* line 695, src/sassLibs/open-iconic-bootstrap.scss */
.oi-minus:before {
  content: '\e09d';
}

/* line 699, src/sassLibs/open-iconic-bootstrap.scss */
.oi-monitor:before {
  content: '\e09e';
}

/* line 703, src/sassLibs/open-iconic-bootstrap.scss */
.oi-moon:before {
  content: '\e09f';
}

/* line 707, src/sassLibs/open-iconic-bootstrap.scss */
.oi-move:before {
  content: '\e0a0';
}

/* line 711, src/sassLibs/open-iconic-bootstrap.scss */
.oi-musical-note:before {
  content: '\e0a1';
}

/* line 715, src/sassLibs/open-iconic-bootstrap.scss */
.oi-paperclip:before {
  content: '\e0a2';
}

/* line 719, src/sassLibs/open-iconic-bootstrap.scss */
.oi-pencil:before {
  content: '\e0a3';
}

/* line 723, src/sassLibs/open-iconic-bootstrap.scss */
.oi-people:before {
  content: '\e0a4';
}

/* line 727, src/sassLibs/open-iconic-bootstrap.scss */
.oi-person:before {
  content: '\e0a5';
}

/* line 731, src/sassLibs/open-iconic-bootstrap.scss */
.oi-phone:before {
  content: '\e0a6';
}

/* line 735, src/sassLibs/open-iconic-bootstrap.scss */
.oi-pie-chart:before {
  content: '\e0a7';
}

/* line 739, src/sassLibs/open-iconic-bootstrap.scss */
.oi-pin:before {
  content: '\e0a8';
}

/* line 743, src/sassLibs/open-iconic-bootstrap.scss */
.oi-play-circle:before {
  content: '\e0a9';
}

/* line 747, src/sassLibs/open-iconic-bootstrap.scss */
.oi-plus:before {
  content: '\e0aa';
}

/* line 751, src/sassLibs/open-iconic-bootstrap.scss */
.oi-power-standby:before {
  content: '\e0ab';
}

/* line 755, src/sassLibs/open-iconic-bootstrap.scss */
.oi-print:before {
  content: '\e0ac';
}

/* line 759, src/sassLibs/open-iconic-bootstrap.scss */
.oi-project:before {
  content: '\e0ad';
}

/* line 763, src/sassLibs/open-iconic-bootstrap.scss */
.oi-pulse:before {
  content: '\e0ae';
}

/* line 767, src/sassLibs/open-iconic-bootstrap.scss */
.oi-puzzle-piece:before {
  content: '\e0af';
}

/* line 771, src/sassLibs/open-iconic-bootstrap.scss */
.oi-question-mark:before {
  content: '\e0b0';
}

/* line 775, src/sassLibs/open-iconic-bootstrap.scss */
.oi-rain:before {
  content: '\e0b1';
}

/* line 779, src/sassLibs/open-iconic-bootstrap.scss */
.oi-random:before {
  content: '\e0b2';
}

/* line 783, src/sassLibs/open-iconic-bootstrap.scss */
.oi-reload:before {
  content: '\e0b3';
}

/* line 787, src/sassLibs/open-iconic-bootstrap.scss */
.oi-resize-both:before {
  content: '\e0b4';
}

/* line 791, src/sassLibs/open-iconic-bootstrap.scss */
.oi-resize-height:before {
  content: '\e0b5';
}

/* line 795, src/sassLibs/open-iconic-bootstrap.scss */
.oi-resize-width:before {
  content: '\e0b6';
}

/* line 799, src/sassLibs/open-iconic-bootstrap.scss */
.oi-rss-alt:before {
  content: '\e0b7';
}

/* line 803, src/sassLibs/open-iconic-bootstrap.scss */
.oi-rss:before {
  content: '\e0b8';
}

/* line 807, src/sassLibs/open-iconic-bootstrap.scss */
.oi-script:before {
  content: '\e0b9';
}

/* line 811, src/sassLibs/open-iconic-bootstrap.scss */
.oi-share-boxed:before {
  content: '\e0ba';
}

/* line 815, src/sassLibs/open-iconic-bootstrap.scss */
.oi-share:before {
  content: '\e0bb';
}

/* line 819, src/sassLibs/open-iconic-bootstrap.scss */
.oi-shield:before {
  content: '\e0bc';
}

/* line 823, src/sassLibs/open-iconic-bootstrap.scss */
.oi-signal:before {
  content: '\e0bd';
}

/* line 827, src/sassLibs/open-iconic-bootstrap.scss */
.oi-signpost:before {
  content: '\e0be';
}

/* line 831, src/sassLibs/open-iconic-bootstrap.scss */
.oi-sort-ascending:before {
  content: '\e0bf';
}

/* line 835, src/sassLibs/open-iconic-bootstrap.scss */
.oi-sort-descending:before {
  content: '\e0c0';
}

/* line 839, src/sassLibs/open-iconic-bootstrap.scss */
.oi-spreadsheet:before {
  content: '\e0c1';
}

/* line 843, src/sassLibs/open-iconic-bootstrap.scss */
.oi-star:before {
  content: '\e0c2';
}

/* line 847, src/sassLibs/open-iconic-bootstrap.scss */
.oi-sun:before {
  content: '\e0c3';
}

/* line 851, src/sassLibs/open-iconic-bootstrap.scss */
.oi-tablet:before {
  content: '\e0c4';
}

/* line 855, src/sassLibs/open-iconic-bootstrap.scss */
.oi-tag:before {
  content: '\e0c5';
}

/* line 859, src/sassLibs/open-iconic-bootstrap.scss */
.oi-tags:before {
  content: '\e0c6';
}

/* line 863, src/sassLibs/open-iconic-bootstrap.scss */
.oi-target:before {
  content: '\e0c7';
}

/* line 867, src/sassLibs/open-iconic-bootstrap.scss */
.oi-task:before {
  content: '\e0c8';
}

/* line 871, src/sassLibs/open-iconic-bootstrap.scss */
.oi-terminal:before {
  content: '\e0c9';
}

/* line 875, src/sassLibs/open-iconic-bootstrap.scss */
.oi-text:before {
  content: '\e0ca';
}

/* line 879, src/sassLibs/open-iconic-bootstrap.scss */
.oi-thumb-down:before {
  content: '\e0cb';
}

/* line 883, src/sassLibs/open-iconic-bootstrap.scss */
.oi-thumb-up:before {
  content: '\e0cc';
}

/* line 887, src/sassLibs/open-iconic-bootstrap.scss */
.oi-timer:before {
  content: '\e0cd';
}

/* line 891, src/sassLibs/open-iconic-bootstrap.scss */
.oi-transfer:before {
  content: '\e0ce';
}

/* line 895, src/sassLibs/open-iconic-bootstrap.scss */
.oi-trash:before {
  content: '\e0cf';
}

/* line 899, src/sassLibs/open-iconic-bootstrap.scss */
.oi-underline:before {
  content: '\e0d0';
}

/* line 903, src/sassLibs/open-iconic-bootstrap.scss */
.oi-vertical-align-bottom:before {
  content: '\e0d1';
}

/* line 907, src/sassLibs/open-iconic-bootstrap.scss */
.oi-vertical-align-center:before {
  content: '\e0d2';
}

/* line 911, src/sassLibs/open-iconic-bootstrap.scss */
.oi-vertical-align-top:before {
  content: '\e0d3';
}

/* line 915, src/sassLibs/open-iconic-bootstrap.scss */
.oi-video:before {
  content: '\e0d4';
}

/* line 919, src/sassLibs/open-iconic-bootstrap.scss */
.oi-volume-high:before {
  content: '\e0d5';
}

/* line 923, src/sassLibs/open-iconic-bootstrap.scss */
.oi-volume-low:before {
  content: '\e0d6';
}

/* line 927, src/sassLibs/open-iconic-bootstrap.scss */
.oi-volume-off:before {
  content: '\e0d7';
}

/* line 931, src/sassLibs/open-iconic-bootstrap.scss */
.oi-warning:before {
  content: '\e0d8';
}

/* line 935, src/sassLibs/open-iconic-bootstrap.scss */
.oi-wifi:before {
  content: '\e0d9';
}

/* line 939, src/sassLibs/open-iconic-bootstrap.scss */
.oi-wrench:before {
  content: '\e0da';
}

/* line 943, src/sassLibs/open-iconic-bootstrap.scss */
.oi-x:before {
  content: '\e0db';
}

/* line 947, src/sassLibs/open-iconic-bootstrap.scss */
.oi-yen:before {
  content: '\e0dc';
}

/* line 951, src/sassLibs/open-iconic-bootstrap.scss */
.oi-zoom-in:before {
  content: '\e0dd';
}

/* line 955, src/sassLibs/open-iconic-bootstrap.scss */
.oi-zoom-out:before {
  content: '\e0de';
}

/*!
 * Tipografia
 * Memory Game
 * Desenvolvido por Andrey da Costa
 */
@font-face {
  font-family: 'memory';
  src: url("../fonts/memory.eot?75l3nt");
  src: url("../fonts/memory.eot?75l3nt#iefix") format("embedded-opentype"), url("../fonts/memory.ttf?75l3nt") format("truetype"), url("../fonts/memory.woff?75l3nt") format("woff"), url("../fonts/memory.svg?75l3nt#memory") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 18, src/sass/_tipografia.scss */
.memory {
  font-family: 'memory' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, src/sass/_tipografia.scss */
.item1:before {
  content: "\e900";
}

/* line 31, src/sass/_tipografia.scss */
.item2:before {
  content: "\e901";
}

/* line 32, src/sass/_tipografia.scss */
.item3:before {
  content: "\e902";
}

/* line 33, src/sass/_tipografia.scss */
.item4:before {
  content: "\e903";
}

/* line 34, src/sass/_tipografia.scss */
.item5:before {
  content: "\e904";
}

/* line 35, src/sass/_tipografia.scss */
.item6:before {
  content: "\e905";
}

/* line 36, src/sass/_tipografia.scss */
.item7:before {
  content: "\e906";
}

/* line 37, src/sass/_tipografia.scss */
.item8:before {
  content: "\e907";
}

/* line 38, src/sass/_tipografia.scss */
.item9:before {
  content: "\e908";
}

/* line 39, src/sass/_tipografia.scss */
.item10:before {
  content: "\e909";
}

/* line 40, src/sass/_tipografia.scss */
.item11:before {
  content: "\e90a";
}

/* line 41, src/sass/_tipografia.scss */
.item12:before {
  content: "\e90b";
}

/* line 42, src/sass/_tipografia.scss */
.item13:before {
  content: "\e90c";
}

/* line 43, src/sass/_tipografia.scss */
.item14:before {
  content: "\e90d";
}

/* line 44, src/sass/_tipografia.scss */
.item15:before {
  content: "\e90e";
}

/* line 45, src/sass/_tipografia.scss */
.item16:before {
  content: "\e90f";
}

/* ==========================================================================
   Reset
   ========================================================================== */
/* line 5, src/sass/geral/_reset.scss */
html,
body,
main {
  height: 100%;
}

/* line 9, src/sass/geral/_reset.scss */
a {
  color: inherit;
}

/* line 11, src/sass/geral/_reset.scss */
a:hover, a:active, a:focus, a:focus:hover {
  transition-duration: 0.1s;
}

/* line 15, src/sass/geral/_reset.scss */
a:hover {
  text-decoration: inherit;
}

/* line 18, src/sass/geral/_reset.scss */
img, iframe, object, video {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* line 25, src/sass/geral/_reset.scss */
form:after, form:before {
  display: table;
  content: " ";
}

/* line 30, src/sass/geral/_reset.scss */
form:after {
  clear: both;
}

/* line 33, src/sass/geral/_reset.scss */
textarea {
  max-width: 100%;
  width: 100%;
}

/* line 38, src/sass/geral/_reset.scss */
b {
  font-family: 'robotobold';
}

/* ==========================================================================
   Geral
   ========================================================================== */
/* line 6, src/sass/geral/_geral.scss */
body {
  font-family: 'Annie Use Your Telescope', cursive;
  color: #666666;
  background-color: #F3F3F3;
}

/* line 12, src/sass/geral/_geral.scss */
.memory-body {
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
  text-align: center;
  max-width: 590px;
}

/* ==========================================================================
   Botoes
   ========================================================================== */
/* ==========================================================================
   Cards
   ========================================================================== */
/* line 5, src/sass/componentes/_card.scss */
.card {
  position: relative;
  width: 130px;
  height: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #5DA4CF;
  background-color: #5DA4CF;
  font-size: 48px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  transition: 1s;
  transform: rotateY(180deg);
}

/* line 19, src/sass/componentes/_card.scss */
.card.card-open {
  background-color: #DCE5FD;
  box-shadow: none;
  transform: rotateY(0);
}

/* line 24, src/sass/componentes/_card.scss */
.card.success {
  background-color: #E1FDDC;
  color: #A2CF5D;
  box-shadow: none;
  transform: rotateY(0);
}

/* line 30, src/sass/componentes/_card.scss */
.card.fail {
  background-color: #FDDCDC;
  color: #CF5D64;
  box-shadow: none;
  transform: rotateY(0);
}

/* line 36, src/sass/componentes/_card.scss */
.card:hover, .card:focus, .card:focus:hover {
  outline: none;
}

/*# sourceMappingURL=estiloMemoryGame.css.map */
